@model PromiseData.ViewModels.FacilityViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FacilityViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderFacilityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderFacilityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turnover_NonPPStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turnover_NonPPStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnoverReasons_NonPPStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnoverReasons_NonPPStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transportation_services_offered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transportation_services_offered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenReceivingTransportationServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenReceivingTransportationServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalChildFamilySupports_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalChildFamilySupports_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringVisit1Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringVisit1Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringVisit1Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringVisit1Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringVisit2Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringVisit2Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitoringVisit2Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitoringVisit2Result)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@*
    Table of Site's Classes
*@
<p>
    @if (Model.CanEdit)
    {
        @Html.ActionLink("Add Classroom", "Create", "Classroom", new { id = Model.ID }, new { @class = "btn btn-success" })
    }
</p>


<h3>@Model.Description Classrooms</h3>
<table class="table table-hover">
    <tr>
        <th>
            Name:
        </th>
        <th>
            x
        </th>
        <th>
            x
        </th>
        <th>
           x
        </th>
        <th>
            x
        </th>
        <th>
            x
        </th>
        <th>
            x
        </th>
        <th>
            x
        </th>
        <th>
            x
        </th>

        <th>
        </th>

        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    @foreach (var classroom in Model.Classrooms)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => classroom.Program_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.ProgramSessionType_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.NewOrExpandedClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.SessionHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.SessionDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.SessionWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.PPStudents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.NonPPStudentsHSOPK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.NonPPStudentsThirdParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.PPSlotsUnfilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.CLASSScore_ClassroomOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.CLASSScore_EmotionalSupport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => classroom.CLASSScore_InstructionalSupport)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "Details", "Classroom", new { id = classroom.ID }, null)
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>