@model IEnumerable<PromiseData.Models.Facility>

@{
    ViewBag.Title = "Index";
}

<h2>Provider Sites</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code_AdditionalSupportTypes.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderFacilityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactAgent.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transportation_services_offered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildrenReceivingTransportationServices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitoringVisit1Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitoringVisit1Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitoringVisit2Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonitoringVisit2Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderFacilityType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactAgent.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transportation_services_offered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildrenReceivingTransportationServices)
        </td>
        <td>
            @if(item.MonitoringVisit1Date != null) { 
                @item.MonitoringVisit1Date.Value.ToShortDateString()
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonitoringVisit1Result)
        </td>
        <td>
            @if (item.MonitoringVisit2Date != null)
            {
                @item.MonitoringVisit2Date.Value.ToShortDateString()
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonitoringVisit2Result)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-default btn-xs" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-default btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-default btn-xs" })
        </td>
    </tr>
}

</table>
