@model PromiseData.ViewModels.UserFormViewModel

@{
    ViewBag.Title = "Assign Role";
}

<h2>Assign Role</h2>
<h3>@Model.UserName</h3>
@if (ViewBag.Error == true)
{
    <p>@ViewBag.ErrorMessage</p>
}
else
{
    using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.HiddenFor(m=> m.UserName)
            @Html.HiddenFor(m => m.UserId)

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedRoleNames, "User Roles", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.SelectedRoleNames,
                                    new MultiSelectList(Model.Roles, "Name", "Name", Model.RoleNames),
                                    new { @class = "form-control" })
                </div>
            </div>
            <div class="">
                @Html.ActionLink("Back to List", "List", new { @role = "button" }, new { @class = "btn btn-default" })
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
}

