@model PromiseData.ViewModels.UserInstitutionViewModel

@{
    ViewBag.Title = "AssignInstitution";
}

<h2>Assign Institution</h2>
<h3>@Model.User.UserName</h3>
@if (ViewBag.Error == true)
{
    <p>@ViewBag.ErrorMessage</p>
}
else
{
    using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                <span class="col-md-2 control-label">
                    @Model.User.UserName
                </span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Institutions, "Assigned Provider/Hub", new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.InstitutionId, new SelectList(Model.Institutions, "Id", "LegalName"), new { @class = "form-control" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    }
}

