@model  PromiseData.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "ChangePasswordView";
}

<h2>ChangePasswordView</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.AntiForgeryToken()

        @Html.DisplayNameFor( Model.Email)
        @Html.EditorFor( Model.Password)
        @Html.EditorFor( Model.ConfirmPassword)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>