@model PromiseData.ViewModels.UserFormViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>@Model.UserName</h3>

<hr />
<div class="panel panel-default">
    <div class="panel-heading">User login: @Model.UserName</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.UserId):</dt>
            <dd>@Html.DisplayFor(m => m.UserId)</dd>

            <dt>@Html.DisplayNameFor(m => m.User.Name):</dt>
            <dd>@Html.DisplayFor(m => m.User.Name)</dd>

            <dt>@Html.DisplayNameFor(m => m.User.Email):</dt>
            <dd>@Html.DisplayFor(m => m.User.Email)</dd>

            <dt>@Html.DisplayNameFor(m => m.User.PhoneNumber):</dt>
            <dd>@Html.DisplayFor(m => m.User.PhoneNumber)</dd>
            @if (Model.Institution != null)
            {
                <dt>@Html.DisplayNameFor(m => m.InstitutionId)</dt>
                <dd>
                    @Html.DisplayFor(m => m.Institution.LegalName)
                @if (Model.Institution.IsHub)
                {
                    <div class="label label-warning">
                        @Html.DisplayNameFor(m => m.Institution.IsHub)
                    </div>
                }
                @if (Model.Institution.IsProvider)
                {
                    <div class="label label-info">
                        @Html.DisplayNameFor(m => m.Institution.IsProvider)
                    </div>
                }
                </dd>
            }
        </dl>

        <h4>User Roles:</h4>
        <ul class="list-group">
            @foreach (var roll in Model.CurrentRoles)
            {
                <li class="list-group-item">
                    @Model.Roles.Single(m => m.Id == roll.RoleId).Name
                </li>
            }
        </ul>

    </div>
    @if (Model.CanEdit)
    {
        <div class="panel-footer">
            <div class="text-right">
                @Html.ActionLink("Edit", "Edit", "User", new { id = Model.UserId }, null)
                @Html.Raw(" | ")
                @Html.ActionLink("Assign Roles", "AssignRole", "User", new { id = Model.UserId }, null)
                @Html.Raw(" | ")
                @Html.ActionLink("Change Password", "ChangePassword", "User", new { id = Model.UserId }, null)
            </div>
            <div class="text-left">@Html.ActionLink("Back to List", "Index")</div>
        </div>
    }
    
</div>


