
@{
    ViewBag.Title = "Index";
}
<br/>
<br/>
<div class="row">
    @if (ViewBag.displayAdminMenu == true)
    {

        <div class="col-md-4">
            <h4>Admin Controls:</h4>
            <ul>
                <li>@Html.ActionLink("Add User", "Index", "User")</li>
                <li>@Html.ActionLink("Manage Users", "List", "User")</li>
                <li>@Html.ActionLink("Assign Roles", "List", "User")</li>
            </ul>
        </div>
    }
    @if (ViewBag.displayHubMenu == true)
    {
        <div class="col-md-4">
            <h4>Hub Controls:</h4>
            <ul>
                <li>@Html.ActionLink("Add Provider", "Index", "User")</li>
                <li>@Html.ActionLink("Assign Provider", "Index", "User")</li>
            </ul>
        </div>
    }
    @if (ViewBag.displayProviderMenu == true)
    {
        <div class="col-md-4">
            <h4>Provider Controls</h4>
            <ul>
                <li>@Html.ActionLink("Enroll Child", "Add", "Child")</li>
                <li>@Html.ActionLink("View Child Details", "Index", "Child")</li>
                <li>@Html.ActionLink("Add Classroom", "Create", "Classroom")</li>
                <li>@Html.ActionLink("Add Teacher", "Create", "Teacher")</li>
            </ul>
        </div>
    }
    else
    {
    <p>  Welcome <strong>@ViewBag.Name</strong></p>
    <p>@ViewBag.displayAdminMenu</p>
    <p>@ViewBag.displayHubMenu</p>
    <p>@ViewBag.displayProviderMenu</p>
    }
</div>