@model PromiseData.ViewModels.ContactAgentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(Model.Action, "ContactAgents"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ContactAgent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AgentId)
        @Html.HiddenFor(model => model.ProviderID)
        @Html.HiddenFor(model => model.InstitutionID)

        <div class="form-group">
            @Html.LabelFor(model => model.AgentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgentTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgentTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgentPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgentPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgentEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgentEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentFax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgentFax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgentFax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @if (Model.InstitutionID != null)
            {
                @Html.ActionLink("Back", "Details", "Institution", new { id = Model.InstitutionID }, new { @class = "btn btn-default" })
            }
            else if (Model.ProviderID != null)
            {
                @Html.ActionLink("Back", "Details", "Facility", new { id = Model.ProviderID }, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            }
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
}
