@model PromiseData.ViewModels.TeacherListViewModel

<h2>Staff</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>

@using (Html.BeginForm("Search", "Teacher"))
{
    <div class="form-group">
        @Html.Label("search", "Teacher Lookup: ")
        <div class="input-group col-md-6">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Lookup staff by name or ID", value = Model.SearchTerm })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
            </span>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Role
        </th>
        <th>
            Start Date
        </th>
        <th>
            Education
        </th>
        <th>
            Experience
        </th>
        <th>
            End Date
        </th>
        <th>
            Classes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Teachers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameLast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherType)
        </td>
        <td>
            @item.StartDate.Value.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsExperience)
        </td>
        <td>
            @if( item.EndDate.HasValue)
            {
                item.EndDate.Value.ToShortDateString();
            }
        </td>
        <td>
            @foreach (var teacherClass in item.TeacherClasses)
            {
                @Html.DisplayFor(classroom => teacherClass.Classroom.Description)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
