@model IEnumerable<PromiseData.Models.Teacher>


<h2>Staff</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameLast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherClasses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameLast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @foreach (var teacherClass in item.TeacherClasses)
            {
                @Html.DisplayFor(classroom => teacherClass.Classroom.Description)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
