@model PromiseData.ViewModels.TeacherViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(Model.Action, "Teacher"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Teacher</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(model => model.NameFirst, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NameFirst, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameFirst, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-lg-6">
                @Html.LabelFor(model => model.NameLast, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NameLast, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameLast, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(model => model.ClassroomId, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ClassroomId, new SelectList(Model.Classrooms, "ID", "Description"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ClassroomId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-6">
                @Html.LabelFor(model => model.TeacherType, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.TeacherType, new SelectList(
                        new List<SelectListItem> {
                        new SelectListItem { Text="Lead Teacher", Value = "Lead Teacher"},
                        new SelectListItem { Text="Assistant Teacher", Value = "Assistant Teacher"},
                        new SelectListItem { Text="Support Staff", Value = "Support Staff"}
                    }, "Value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeacherType, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                @Html.LabelFor(model => model.TeacherIDNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.TeacherIDNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TeacherIDNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.TeacherBirthdate, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TeacherBirthdate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.TeacherBirthdate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-3">
                @Html.LabelFor(model => model.GenderId, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.GenderId, new SelectList(Model.Genders, "Code", "Description"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-5">
                @Html.LabelFor(model => model.RaceEthnicityIdentity, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.RaceEthnicityIdentity, new SelectList(Model.RaceEthnicityList, "ID", "Description"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RaceEthnicityIdentity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <h4>Classroom languages</h4>
            <div class="row col-lg-offset-1">
                @{var i = 0; }
                @foreach (KeyValuePair<int, bool> langCheck in Model.ClassroomLanguages)
                {
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input type="hidden" name="@String.Format("ClassroomLanguages[{0}].Key", i)" value="@langCheck.Key" />
                            @Html.CheckBox(String.Format("ClassroomLanguages[{0}].Value", i), langCheck.Value)
                            <label class="categoryLabel" for="@String.Format("ClassroomLanguages_{0}__Value", i)">@Model.Languages.Single(r => r.Code == langCheck.Key).Description</label>
                            @{i++;}
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <h4>Fluent Languages</h4>
             <div class="row col-lg-offset-1">
                @{var j = 0; }
                @foreach (KeyValuePair<int, bool> langCheck in Model.FluentLanguages)
                {
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input type="hidden" name="@String.Format("FluentLanguages[{0}].Key", j)" value="@langCheck.Key" />
                            @Html.CheckBox(String.Format("FluentLanguages[{0}].Value", j), langCheck.Value)
                            <label class="categoryLabel" for="@String.Format("FluentLanguages_{0}__Value", j)">@Model.Languages.Single(r => r.Code == langCheck.Key).Description</label>
                            @{i++;}
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeacherSalary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeacherSalary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TeacherSalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.EducationID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.EducationID, new SelectList(Model.EducationTypes, "Code", "Description"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EducationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.CDA, htmlAttributes: new { @class = "control-label col-md-10" })
                <div class=" col-md-2">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CDA)
                        @Html.ValidationMessageFor(model => model.CDA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.DegreeField, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.DegreeField, new SelectList(
                        new List<SelectListItem> {
                        new SelectListItem { Text="Early Childhood Education", Value = "Early Childhood Education"},
                        new SelectListItem { Text="Education", Value = "Education"},
                        new SelectListItem { Text="Related Field", Value = "Related Field"},
                        new SelectListItem { Text="Other", Value = "Other"}
                    }, "Value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DegreeField, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(model => model.OtherField, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">@Html.EditorFor(model => model.OtherField, new { htmlAttributes = new { @class = "form-control" } })</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PDStep, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PDStep, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PDStep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearsExperience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearsExperience, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearsExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReasonForLeaving, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReasonForLeaving, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReasonForLeaving, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
