@model PromiseData.ViewModels.AddressViewModel

<h2>Address</h2>

@using ( Html.BeginForm(Model.Action, "Address"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bs-component">
        <h4>Address</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ProviderID)
        @Html.HiddenFor(model => model.InstitutionID)
        @Html.HiddenFor(model => model.ChildID)

        <div class="row">
            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.AddressType_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.AddressType_ID, new SelectList(Model.AddressTypes, "Code", "Description", "2"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AddressType_ID)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.Address1, "Address required", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.Address2, "Address required", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="col-md-4">
                @Html.ValidationMessageFor(model => model.Address3, "Address required", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class=" col-md-6">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "!", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.State_ID, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class=" col-md-7">
                    @Html.DropDownListFor(model => model.State_ID, new SelectList(Model.States, "ID", "Abbreviation"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.State_ID, "!", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ZipCode, "!", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class=" col-md-6">
                    @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.County, "!", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
