@model IEnumerable<PromiseData.Models.Adult>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ELD_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdultType_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidentialTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ELD_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdultType_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidentialTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
