
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @if (ViewBag.displayAdminMenu == true)
    {
        <h4>Admin Controls:</h4>
        <div class="row">

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add User", "CreateUser", "User")</li>
                    <li>@Html.ActionLink("Manage Users", "List", "User")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add Hub/Provider", "Create", "Institution")</li>
                    <li>@Html.ActionLink("Manage Hubs/Providers", "Index", "Institution")</li>
                    <li>@Html.ActionLink("Assign User to Hub", "List", "User")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Process Waivers", "Index", "WaiverCurrents")</li>
                </ul>
            </div>

        </div>
    }
    @if (ViewBag.displayHubMenu == true)
    {
        <h4>Hub Controls:</h4>
        <div class="row">

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Provider List", "Index", "Institution")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Site List", "Index", "Facility")</li>
                    <li>@Html.ActionLink("Add Site", "Create", "Facility")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add Provider", "Index", "User")</li>
                    <li>@Html.ActionLink("Assign Provider", "Index", "User")</li>
                    <li>@Html.ActionLink("Add Facility", "Index", "User")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Review Biennium Report", "Index", "User")</li>
                </ul>
            </div>

        </div>
    }
    @if (ViewBag.displayProviderMenu == true)
    {
        <h4>Provider Controls</h4>
        <div class="row">

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Child List", "Index", "Child")</li>
                    <li>@Html.ActionLink("Enroll Child", "Add", "Child")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Site List", "Index", "Facility")</li>
                    <li>@Html.ActionLink("Add Site", "Create", "Facility")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Waiver Requests", "Index", "WaiverRequests")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Classrooms", "Index", "Classroom")</li>
                    <li>@Html.ActionLink("Add Classroom", "Create", "Classroom")</li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Teachers", "Index", "Teacher")</li>
                    <li>@Html.ActionLink("Add Teacher", "Create", "Teacher")</li>
                </ul>
            </div>

        </div>
    }
    else
    {
        <p>  Welcome <strong>@ViewBag.Name</strong></p>
        <p>@ViewBag.displayAdminMenu</p>
        <p>@ViewBag.displayHubMenu</p>
        <p>@ViewBag.displayProviderMenu</p>
    }
</div>