@model IEnumerable<PromiseData.Models.Child>
@{
    ViewBag.Title = "Home Page";
}
<br/>
<ul>
    <li>@Html.ActionLink("Address", "Index", "Address")</li>
    <li>@Html.ActionLink("Adult", "Index", "Adult")</li>
    <li>@Html.ActionLink("Family", "Index", "Family")</li>
    <li>@Html.ActionLink("Child", "Index", "Child")</li>
    <li>@Html.ActionLink("Classroom", "Index", "Classroom")</li>
    <li>@Html.ActionLink("Enrollment", "Index", "Enrollment")</li>
    <li>@Html.ActionLink("Screening", "Index", "Screening")</li>
    <li>@Html.ActionLink("Facility", "Index", "Facility")</li>
    <li>@Html.ActionLink("Teacher", "Index", "Teacher")</li>
    <li>@Html.ActionLink("Services", "Index", "Services")</li>
</ul>