
@{
    ViewBag.Title = "Index";
}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Hubs/Providers</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hub <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Providers</a></li>
                        <li><a href="#">Sites</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Review Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Provider <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Sites</a></li>
                        <li><a href="#">Classrooms</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Review Report</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>


<div class="row">
    @if (ViewBag.displayAdminMenu == true)
    {
        <h4>Admin Controls:</h4>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add User", "CreateUser", "User")</li>
                    <li>@Html.ActionLink("Manage Users", "List", "User")</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add Hub/Provider", "Create", "Institution")</li>
                    <li>@Html.ActionLink("Manage Hubs/Providers", "Index", "Institution")</li>
                    <li>@Html.ActionLink("Assign User to Hub", "List", "User")</li>
                </ul>
            </div>
        </div>
    }
    @if (ViewBag.displayHubMenu == true)
    {
        <h4>Hub Controls:</h4>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add Provider", "Index", "User")</li>
                    <li>@Html.ActionLink("Assign Provider", "Index", "User")</li>
                    <li>@Html.ActionLink("Add Facility", "Index", "User")</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Review Biennium Report", "Index", "User")</li>
                </ul>
            </div>
        </div>
    }
    @if (ViewBag.displayProviderMenu == true)
    {
        <h4>Provider Controls</h4>
        <div class="row">
            <div class="col-md-4">

                <ul>
                    <li>@Html.ActionLink("Enroll Child", "Add", "Child")</li>
                    <li>@Html.ActionLink("View Child Details", "Index", "Child")</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("Add Classroom", "Create", "Classroom")</li>
                    <li>@Html.ActionLink("View Classrooms", "List", "Classroom")</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>@Html.ActionLink("View Teachers", "List", "Teacher")</li>
                    <li>@Html.ActionLink("Add Teacher", "Create", "Teacher")</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.Label("searchstring", "Search", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.Editor("searchstring", new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="col-md-2">
                    @Html.DropDownList("scope", new SelectList(
                        new List<SelectListItem> {
                        new SelectListItem { Text="All", Value = "All"},
                        new SelectListItem { Text="Open", Value = "Open"},
                        new SelectListItem { Text="Closed", Value = "Closed"}
                    }, "Value", "Text"), new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    }
    else
    {
        <p>  Welcome <strong>@ViewBag.Name</strong></p>
        <p>@ViewBag.displayAdminMenu</p>
        <p>@ViewBag.displayHubMenu</p>
        <p>@ViewBag.displayProviderMenu</p>
    }
</div>