@model PromiseData.ViewModels.FamilyViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add Family</h2>

@using (Html.BeginForm(Model.Action, "Family"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <h4>Family</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.HouseholdSize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.HouseholdSize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HouseholdSize, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ChildrenInHome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ChildrenInHome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChildrenInHome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.SNAP, htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class=" col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.SNAP)
                            @Html.ValidationMessageFor(model => model.SNAP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WIC, htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.WIC)
                            @Html.ValidationMessageFor(model => model.WIC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TANF, htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.TANF)
                            @Html.ValidationMessageFor(model => model.TANF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.SSI, htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.SSI)
                            @Html.ValidationMessageFor(model => model.SSI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FRLP, htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.FRLP)
                            @Html.ValidationMessageFor(model => model.FRLP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HS, htmlAttributes: new { @class = "control-label col-md-11" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.HS)
                            @Html.ValidationMessageFor(model => model.HS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-striped table-condensed well">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">
                                Income Worksheet
                            </th>
                        </tr>
                        <tr>
                            <th>Documents examined for income verification:</th>
                            <th>Amount ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-right">
                                Income Tax Form 1040 or 1040A
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">
                                W-2 Form
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">
                                Social Security
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">
                                Unemployment Compensation
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">
                                Paystubs or Vouchers
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">
                                Letter from Employers
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-right">
                                Other
                            </th>
                            <td>
                                <input type="number" class="js-sum" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Income, htmlAttributes: new { @class = "control-label col-md-7" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Income, new { htmlAttributes = new { @class = "form-control js-income" } })
                        @Html.ValidationMessageFor(model => model.Income, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.MonthlyCostAdditionalServices, htmlAttributes: new { @class = "control-label col-md-7" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.MonthlyCostAdditionalServices, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MonthlyCostAdditionalServices, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts
{
    <script>
        function sumIncomeWorksheet() {
            var sum = 0;
            $(".js-sum").each(function () {
                if (!isNaN(this.value) && this.value.length != 0) {
                    sum += parseInt(this.value);
                }
            })

            return sum;
        }

        $(document).ready(function () {
            $(".js-sum").each(function () {
                $(this).bind("keyup change", function () {
                    $(".js-income").val(sumIncomeWorksheet);
                });
            });
        });

    </script>
}