@model PromiseData.ViewModels.ChildFormViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add - Enroll</h2>
@using (Html.BeginForm("Add", "Child"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
        @Html.LabelFor(m => m.OtherLastName)
        @Html.TextBoxFor(m => m.OtherLastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
        @Html.LabelFor(m => m.GenerationCodeID)
        @Html.TextBoxFor(m => m.GenerationCodeID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName)
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
        @Html.LabelFor(m => m.OtherMiddleName)
        @Html.TextBoxFor(m => m.OtherMiddleName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenderID)
        @Html.DropDownListFor(m => m.GenderID, new SelectList(Model.Genders, "Code", "Description"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RaceEthnicityID)
        @Html.DropDownListFor(m => m.RaceEthnicityID, new SelectList(Model.RaceEthnicityList, "Id", "Description"), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LanguageID)
        @Html.DropDownListFor(m => m.GenderID, new SelectList(Model.Languages, "Code", "Description"), new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}