@model PromiseData.ViewModels.ChildDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />

    <div class="panel">
        <div class="panel-heading">Identification</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ELD_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ELD_ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SSID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SSID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GenerationCodeID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Generation.Description)
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">Additional Name Information</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OtherNameTypeID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OtherNameType.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OtherLastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OtherLastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OtherFirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OtherFirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OtherMiddleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OtherMiddleName)
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">Address</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Address_ID)
                </dt>
                <dd>
                    @if (Model.Address_ID >= 0)
                    {
                        Html.Raw("<address>");
                        Model.Address.Address1.ToString();
                        Model.Address.Address2.ToString();
                        Model.Address.Address3.ToString();

                        Model.Address.City.ToString();
                        Model.Address.LU_State.ToString();

                        Model.Address.ZipCode.ToString();
                        Html.Raw("</address>");
                    }
                    else
                    {
                        <i>No Address</i>
                    }
                </dd>
            </dl>
            @if (Model.CanEdit)
            {
                @Html.ActionLink("Change", "ChildAddress", new { id = Model.ID })
            }
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Birthdate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GenderID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender.Description)
                </dd>
            </dl>
        </div>
    </div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Homeless)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homeless)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Migrant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Migrant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadStartEligibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadStartEligibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishLanguageLearner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishLanguageLearner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassroomLanguage_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolDistrictCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDistrictCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementarySchoolCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementarySchoolCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorEarlyLearningMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorEarlyLearningMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramSessionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolDistrictCatchment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDistrictCatchment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementarySchoolCatchment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementarySchoolCatchment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent_ProviderConsultations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent_ProviderConsultations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransitionPlanConferenceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransitionPlanConferenceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitReason_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitReason)
        </dd>

    </dl>

    <div class="panel">
        <div class="panel-heading">Special Needs</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                @foreach (var special in Model.Child_Special_Needs)
                {
                    <dt>
                        @special.SpecialNeed.Description
                    </dt>
                }
            </dl>


            @if (Model.CanEdit)
            {
                @Html.ActionLink("Change", "UpdateSpecialNeeds", new { id = Model.ID })
            }
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">IFSP</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                @foreach (var ifsp in Model.Child_IFSP)
                {
                    <dt>
                        @ifsp.IFSP.Description
                    </dt>
                }
            </dl>


            @if (Model.CanEdit)
            {
                @Html.ActionLink("Change", "UpdateIFSP", new { id = Model.ID })
            }
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">Enrollment</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt></dt>
                <dd></dd>
            </dl>


            @if (Model.CanEdit)
            {
                @Html.ActionLink("Enroll", "UpdateSpecialNeeds", new { id = Model.ID })
            }
        </div>
    </div>

    </div>
    <p>
        @if (Model.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            @Html.Raw(" | ");
        }
        
        @Html.ActionLink("Back to List", "Index")
    </p>
