@model PromiseData.ViewModels.ChildEnrollViewModel

@{
    ViewBag.Title = "Enroll";
}

<h2>Enroll</h2>

<div>
    <fieldset class="col-lg-5">
        <legend>Child</legend>
        <div class="">
            <div class="form-group">
                @Html.LabelFor(m => m.ChildID)
                @Html.DropDownListFor(m => m.ChildID, new SelectList(Model.Children, "ID", "FirstName"), new { @class = "form-control" })
            </div>
        </div>
    </fieldset>
    <fieldset class="col-lg-offset-2 col-lg-5">
        <legend>Classroom</legend> 
        <div class="">
            <div class="form-group">
                @Html.LabelFor(m => m.FacilityID)
                @Html.DropDownListFor(m => m.FacilityID, new SelectList(Model.Sites, "ID", "Description"), new { @class = "form-control" })
            </div>
        </div>

        <div class="">
            <div class="form-group">
                @Html.LabelFor(m => m.ServicesID)
                @Html.DropDownListFor(m => m.ServicesID, new SelectList(Model.Services, "ID", "ClassroomId"), new { @class = "form-control" })
            </div>
        </div>

        <div class="">
            <div class="form-group">
                @Html.LabelFor(m => m.ClassroomID)
                @Html.DropDownListFor(m => m.ClassroomID, new SelectList(Model.Classrooms, "ID", "Description"), new { @class = "form-control" })
            </div>
        </div>
    </fieldset>


    <div class="row">
        <div class="col-lg-4 form-group">
            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", placeholder = "2010-01-01 ", type = "date" })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>

    <div class="row">
        <div class=" col-lg-4 form-group">
            @Html.LabelFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", placeholder = "2010-01-01 ", type = "date" })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.EndReason)
            @Html.TextAreaFor(m => m.EndReason, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EndReason)
        </div>
    </div>

    <div class="row">
        <div class=" col-lg-8">
            @Html.LabelFor(m => m.MonthlyAttendance)
            @Html.TextBoxFor(m => m.MonthlyAttendance, new { @class = "form-control", type = "Range", value="30", min="0", max="100" })
            @Html.ValidationMessageFor(m => m.MonthlyAttendance)
        </div>
        <div class="col-lg-offset-1 col-lg-3">
            <h3>Attendance units: <span class="label label-info" id="attendanceInputLabel"></span></h3>
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.ReceivedInfo)
            @Html.TextBoxFor(m => m.ReceivedInfo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReceivedInfo)
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.TransportationUse)
            @Html.EditorFor(m => m.TransportationUse, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TransportationUse)
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var url = '@Url.Action("getClassrooms", "Child")'; // Don't hard code your url's!
        var classrooms = $('#ClassroomID'); // cache it
        $("#FacilityID").change(function () {
            var id = $(this).val(); // Use $(this) so you don't traverse the DOM again
            $.getJSON(url, { id: id }, function(response) {
                classrooms.empty(); // remove any existing options
                $.each(response, function (index, item) { // item is now an object containing properties ID and Text
                    classrooms.append($('<option></option>').text(item.Description).val(item.ID));
                });
            });
        });

        var attendanceLabel = $('#attendanceInputLabel');
        $('#MonthlyAttendance').mousemove(function () {
            attendanceLabel.html($(this).val());
        });
    </script>
}  