@model PromiseData.ViewModels.ChildEnrollViewModel

@{
    ViewBag.Title = "Enroll";
}

<h2>Enroll</h2>

<div>
    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.ChildID)
            @Html.DropDownListFor(m => m.ChildID, new SelectList(Model.Children, "ID", "FirstName"), new { @class = "form-control" })
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.FacilityID)
            @Html.DropDownListFor(m => m.FacilityID, new SelectList(Model.Sites, "ID", "Description"), new { @class = "form-control" })
        </div>
    </div>

    <div class="">
        <div class="form-group">
            <asp:DropDownList ID="ddlClassrooms" runat="server">
            </asp:DropDownList>
            @Html.LabelFor(m => m.ServicesID)
            @Html.DropDownListFor(m => m.ServicesID, new SelectList(Model.Services, "ID", "ClassroomId"), new { @class = "form-control" })
        </div>
    </div>


    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", placeholder = "2010-01-01 ", type = "date" })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", placeholder = "2010-01-01 ", type = "date" })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.EndReason)
            @Html.TextBoxFor(m => m.EndReason, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EndReason)
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.MonthlyAttendance)
            @Html.EditorFor(m => m.MonthlyAttendance, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MonthlyAttendance)
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.ReceivedInfo)
            @Html.TextBoxFor(m => m.ReceivedInfo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReceivedInfo)
        </div>
    </div>

    <div class="">
        <div class="form-group">
            @Html.LabelFor(m => m.TransportationUse)
            @Html.EditorFor(m => m.TransportationUse, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TransportationUse)
        </div>
    </div>

    <div id="dump">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#FacilityID").change(function () {
            $.ajax({
                url: '@Url.Action("getClassrooms")',
                type: 'post',
                data: {
                    id: $("#FacilityID").val()
                }
            }).done(function (response) {
                $("dump").html(response);
            });
        });
    </script>
}  