@model PromiseData.ViewModels.ChildFormViewModel
@{
    ViewBag.Title = "LangRace";
}

<h2>Language and Race/Ethnicity</h2>
<h3>@Model.FirstName @Model.LastName</h3>

@using (Html.BeginForm("LangRace", "Child", FormMethod.Post))
{
    <div>
        @foreach (var item in Model.RaceEthnicityList)
        {
            <div class="form-group">
                @Html.Label(item.Id.ToString())
                @Html.Label(Model.RaceDictionary[item.Id].ToString())
                @Html.LabelFor(m => Model.RaceDictionary[item.Id], item.Description)
                @Html.CheckBoxFor(m => Model.RaceDictionary[item.Id])
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}