@model PromiseData.ViewModels.ChildFormViewModel
@{
    ViewBag.Title = "LangRace";
}

<h2>@Model.FirstName @Model.LastName</h2>
<h3>Primary Language</h3>

@using (Html.BeginForm("LangRace", "Child", FormMethod.Post))
{
    <div class="form-horizontal bs-component">
        <div class="form-group">
            @Html.LabelFor(m => m.LanguageID)
            @Html.DropDownListFor(m => m.GenderID, new SelectList(Model.Languages, "Code", "Description"), new { @class = "form-control" })
        </div>

        <h3>Race/Ethnicity</h3>
        <p>Select all that apply</p>
        <div class="row">
            @{var i = 0; }
            @foreach (KeyValuePair<int, bool> raceCheck in Model.RaceDictionary)
            {
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="hidden" name="@String.Format("RaceDictionary[{0}].Key", i)" value="@raceCheck.Key" />
                        @Html.CheckBox(String.Format("RaceDictionary[{0}].Value", i), raceCheck.Value)
                        <label class="categoryLabel" for="@String.Format("RaceDictionary_{0}__Value", i)">@Model.RaceEthnicityList.Single(r => r.Id == raceCheck.Key).Description</label>
                        @{i++;}
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-offset-11">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
}