@model PromiseData.ViewModels.InstitutionFormViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <ul class="breadcrumb">
        @if (Model.IsProvider) { 
            <li>@Html.ActionLink(Model.ParentHub.LegalName, "Details", "Institution", new { id = Model.ParentHubId }, null)</li>
        }
        <li class="active">@Html.DisplayFor(model => model.LegalName)</li>
    </ul>

    <h4>
        @Html.DisplayFor(model => model.LegalName)
        <div>
            @if (@Model.IsHub)
            {
                <div class="label label-default">Hub</div>
            }

            @if (@Model.IsProvider)
            {
                <div class="label label-info">Operator</div>
            }
        </div>
    </h4>
    <hr />
    <p>
        @if (@Model.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" });
        }
        
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LegalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LegalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackboneOrg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackboneOrg)
        </dd>

        @if (@Model.IsProvider)
        {
            <dt>@Html.DisplayNameFor(model => model.OperatorType)</dt>
            <dd>@Html.DisplayFor(model => model.OperatorType)</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorAgentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectorAgent.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAgentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAgent.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveDate)
        </dt>

        <dd>
            @Model.ActiveDate.ToShortDateString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    <div class="col-md-6 ">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.LabelFor(model => model.LocationAddressId)</div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.AddressPhysical.Address1)<br />
                @Html.DisplayFor(model => model.AddressPhysical.Address2)<br />
                @Html.DisplayFor(model => model.AddressPhysical.Address3)<br />
                @Html.DisplayFor(model => model.AddressPhysical.City)
                @Html.DisplayFor(model => model.AddressPhysical.LU_State.Abbreviation)<br />
                @Html.DisplayFor(model => model.AddressPhysical.ZipCode)<br />
                @Html.DisplayFor(model => model.AddressPhysical.County)
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="panel panel-default">
            <div class="panel-heading">@Html.LabelFor(model => model.MailingAddressId)</div>
            <div class="panel-body">
                @Html.DisplayFor(model => model.AddressMail.Address1)<br />
                @Html.DisplayFor(model => model.AddressMail.Address2)<br />
                @Html.DisplayFor(model => model.AddressMail.Address3)<br />
                @Html.DisplayFor(model => model.AddressMail.City)
                @Html.DisplayFor(model => model.AddressMail.LU_State.Abbreviation)<br />
                @Html.DisplayFor(model => model.AddressMail.ZipCode)<br />
                @Html.DisplayFor(model => model.AddressMail.County)
            </div>
        </div>
    </div>

    <hr />

    @*
        Table of Agents
    *@
    @if (Model.Agents != null)
    {

        <h3>@Model.LegalName Agents</h3>
        <p>
            @if (Model.CanEdit)
            {
                @Html.ActionLink("Add Agent", "Create", "ContactAgents", new { id = Model.Id }, new { @class = "btn btn-success" })
            }
        </p>


        foreach (var agent in Model.Agents)
        {

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayFor(modelItem => agent.AgentTitle)</div>
                        <dl class="panel-body dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(modelItem => agent.AgentName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => agent.AgentName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => agent.AgentTitle)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => agent.AgentTitle)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => agent.AgentEmail)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => agent.AgentEmail)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(odelItem => agent.AgentPhone)
                            </dt>
                            <dd>
                                @Html.DisplayFor(odelItem => agent.AgentPhone)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(odelItem => agent.AgentFax)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => agent.AgentFax)
                            </dd>
                        </dl>
                        <p class="text-right">
                            @if (Model.CanEdit)
                            {
                                @Html.ActionLink("Edit", "Edit", "ContactAgents", new { id = agent.AgentId }, null)
                                @Html.Raw(" | ")
                                @Html.ActionLink("Details", "Details", "ContactAgents", new { id = agent.AgentId }, null)
                                @Html.Raw(" | ")
                                @Html.ActionLink("Delete", "Delete", "ContactAgents", new { id = agent.AgentId }, null)
                            }
                        </p>
                    </div>
                </div>

                    

            }

    }
</div>


@*
    Table of Hub's Providers
*@
@if (Model.IsHub)
{

    <h3>@Model.LegalName Operators</h3>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackboneOrg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorAgentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactAgentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationAddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailingAddressId)
            </th>
            <th>
                  @Html.DisplayNameFor(model => model.ActiveDate)              
            </th>
            <th>
                <div class="nav nav-pills">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Show All</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Active</a><br />
                            <a class="dropdown-item" href="#">Inactive</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Show All</a>
                        </div>
                    </div>
                </div>
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>

        @foreach (var item in Model.Providers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LegalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BackboneOrg)
                </td>
                <td class="cell-url">
                    @Html.DisplayFor(modelItem => item.WebAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactAgent1.AgentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactAgent.AgentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1.City)
                </td>
                <td>
                    @item.ActiveDate.ToShortDateString()
                </td>
                <td>
                    @item.EndDate.ToString()
                </td>
                <td>
                    @if (item.IsHub)
                    {
                        <div class="label label-default">Hub</div>
                    }
                </td>
                <td>
                    @if (item.IsProvider)
                    {
                        <div class="label label-info">Provider</div>
                    }
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
}


@*
    Table of Provider's Sites
*@
@if (Model.IsProvider)
{
    <p>
        @if (Model.CanEdit)
        {
            @Html.ActionLink("Add Site", "Create", "Facility", new { id = Model.Id }, new { @class = "btn btn-success" })
        }
    </p>


    <h3>@Model.LegalName Provider Sites</h3>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegalName)
            </th>
            <th>
                Facility Type
            </th>
            <th>
                Monitoring Visit #1
            </th>
            <th>
                Monitoring Visit #2
            </th>
            <th>
                Classrooms
            </th>
            <th>
                
            </th>
            <th>

            </th>
        </tr>

        @foreach (var site in Model.Sites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => site.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => site.ProviderFacilityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => site.MonitoringVisit1Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => site.MonitoringVisit2Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => site.Classrooms.Count)
                </td>
                <td>
                    
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    @Html.ActionLink("Details", "Details", "Facility", new { id = site.ID }, null)
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
}
