@model PromiseData.ViewModels.InstitutionFormViewModel
@{
    ViewBag.Title = @Model.Heading;
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Institution"))
{
    <p>Instructions to fill out this form</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor( m => m.Id)
    <div class="form-horizontal bs-component">
        <fieldset>
            <legend>Operator or HUB:</legend>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.LegalName)
                            @Html.TextBoxFor(m => m.LegalName, new { @class = "form-control", placeholder = "Marion Moose Club", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.LegalName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Region)
                            @Html.TextBoxFor(m => m.Region, new { @class = "form-control", placeholder = "Moose County" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.BackboneOrg)
                            @Html.TextBoxFor(m => m.BackboneOrg, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.WebAddress)
                            @Html.TextBoxFor(m => m.WebAddress, new { @class = "form-control", placeholder = "marionmooseclub.org"})
                            @Html.ValidationMessageFor(m => m.WebAddress)
                        </div>
                    </div>
                </div>
            </div>
                
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Location:</h3>
                        @Html.HiddenFor(m => m.LocationAddressId)
                        @Html.HiddenFor(m => m.AddressPhysical.AddressType_ID, 0)
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.Address1)
                            @Html.TextBoxFor(m => m.AddressPhysical.Address1, new { @class = "form-control", placeholder = "1234 Easy St.", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.Address1)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.Address2)
                            @Html.TextBoxFor(m => m.AddressPhysical.Address2, new { @class = "form-control", placeholder = "Suite 101" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.Address2)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.Address3)
                            @Html.TextBoxFor(m => m.AddressPhysical.Address3, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.Address3)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.City)
                            @Html.TextBoxFor(m => m.AddressPhysical.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.City)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.State_ID)
                            @Html.DropDownListFor(m => m.AddressPhysical.State_ID, new SelectList(Model.States, "ID", "Abbreviation"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.State_ID)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.ZipCode)
                            @Html.TextBoxFor(m => m.AddressPhysical.ZipCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.ZipCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AddressPhysical.County)
                            @Html.TextBoxFor(m => m.AddressPhysical.County, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AddressPhysical.County)
                        </div>
                    </div>
                    <div class="col-lg-offset-1 col-lg-4">
                        <h3>Mailing Address:</h3>
                        @Html.HiddenFor(m => m.MailingAddressId)
                        @Html.HiddenFor(m => m.AddressMail.AddressType_ID, 0)
                        @Html.Label("mailAddressSame", "Mailing Address same as Location")
                        <input id="mailAddressSame" type="checkbox" />
                        <div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.Address1)
                                @Html.TextBoxFor(m => m.AddressMail.Address1, new { @class = "form-control", placeholder = "1234 Easy St.", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.AddressMail.Address1)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.Address2)
                                @Html.TextBoxFor(m => m.AddressMail.Address2, new { @class = "form-control", placeholder = "Suite 101" })
                                @Html.ValidationMessageFor(m => m.AddressMail.Address2)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.Address3)
                                @Html.TextBoxFor(m => m.AddressMail.Address3, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AddressMail.Address3)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.City)
                                @Html.TextBoxFor(m => m.AddressMail.City, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AddressMail.City)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.State_ID)
                                @Html.DropDownListFor(m => m.AddressMail.State_ID, new SelectList(Model.States, "ID", "Abbreviation"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AddressMail.State_ID)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.ZipCode)
                                @Html.TextBoxFor(m => m.AddressMail.ZipCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AddressMail.ZipCode)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.AddressMail.County)
                                @Html.TextBoxFor(m => m.AddressMail.County, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.AddressMail.County)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ActiveDate)
                            @Html.EditorFor(m => m.ActiveDate, new { @class = "form-control", type = "date" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDate)
                            @Html.EditorFor(m => m.EndDate, new { @class = "form-control", type = "date" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsProvider)
                            @Html.CheckBoxFor(m => m.IsProvider, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsHub)
                            @Html.CheckBoxFor(m => m.IsHub, new { @class = "form-control" })
                        </div>
                    </div>
                </div>


</fieldset>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#siteblock").hide();
            $("#staffblock").hide();

            if (selValue == "Site") {
                $("#siteblock").show();
                $("#staffblock").hide();
            }
            if (selValue == "Staff") {
                $("#staffblock").show();
                $("#siteblock").hide();
            }
        });

        $("input:radio").click(function () {
            console.log("click");
            var selValue = $('input[name=WaiverType]:checked').val();
            console.log(selValue);
            if (selValue == "Site") {
                $("#siteblock").show();
                $("#staffblock").hide();
            }
            if (selValue == "Staff") {
                $("#staffblock").show();
                $("#siteblock").hide();
            }
        });
    </script>
}  